flows (2).json
[
    {
        "id": "9402519dd97b8d6b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2ac8476872f6f2f",
        "type": "mqtt in",
        "z": "9402519dd97b8d6b",
        "name": "ADAM/temperature",
        "topic": "ADAM/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "53ee696f54e35721",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "3b210e39a2c2b3ae",
                "b91b5dc6493aa96a",
                "e08b8596ed0b7488"
            ]
        ]
    },
    {
        "id": "3b210e39a2c2b3ae",
        "type": "debug",
        "z": "9402519dd97b8d6b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "b91b5dc6493aa96a",
        "type": "ui_chart",
        "z": "9402519dd97b8d6b",
        "name": "temperature",
        "group": "ca770696b53ce3ac",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "temp",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "207f552ba4337be0",
        "type": "mqtt out",
        "z": "9402519dd97b8d6b",
        "name": "ADAM/output",
        "topic": "ADAM/alarm",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "53ee696f54e35721",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "e08b8596ed0b7488",
        "type": "function",
        "z": "9402519dd97b8d6b",
        "name": "",
        "func": "var msg_g,msg_r;\nmsg_g={payload:\"Green\"}\nmsg_r={payload:\"Red\"}\nif(msg.payload>30){\n    return [msg_r];\n}else{\n    return [msg_g];\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "207f552ba4337be0",
                "8448d06bc5183b8b"
            ]
        ]
    },
    {
        "id": "8448d06bc5183b8b",
        "type": "debug",
        "z": "9402519dd97b8d6b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "53ee696f54e35721",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ca770696b53ce3ac",
        "type": "ui_group",
        "name": "temp",
        "tab": "85a5ec87d253db50",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85a5ec87d253db50",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]